p {
    font-family: "Lucida Console", Courier, monospace;
}
h1 {
    font-family: "Lucida Console", Courier, monospace;
}
a {
    text-decoration: none; 
    font-family: "Lucida Console", Courier, monospace;
}
